@font-face {
    font-family: 'HandOfSeanRegular';
    src: url('../fonts/handsean-webfont.eot');
    src: url('../fonts/handsean-webfont.eot?iefix') format('eot'),
         url('../fonts/handsean-webfont.woff') format('woff'),
         url('../fonts/handsean-webfont.ttf') format('truetype'),
         url('../fonts/handsean-webfont.svg#webfontbXLmV9bQ') format('svg');
    font-weight: normal;
    font-style: normal;
}