img(src="images/page_collaborate.png", width="960", height="864", alt="Wireframe for OpenNova's Collaborate page")

.spot_wrap#collaborate_b1
  .spot
    h2 Collaborate!  
    p Look for someone to work with. Someone you might have the solution or skill that you were looking for. Or someone with the funds that can help you with your idea. OR just someone who can talk to through your innovation processes. Whether you are a Seeker, Solver or Investor, this is the place to connect or form a team.
    a.toggle_comments(href="#", rel="b1") Discuss About This Feature &raquo;

.spot_wrap#collaborate_b2
  .spot
    h2 Tags  
    p Everyone can be 'tagged' so that they can be categorized and searched easily. Click on these tag buttons, and watch them arrange themselves to suit how you wish them to appear! Want to only display Solvers? Only potential collaborators in a certain area? Click those buttons!
    a.toggle_comments(href="#", rel="b2") Discuss About This Feature &raquo;

.spot_wrap#collaborate_b3
  .spot
    h2 Building a team   
    p Whether to work on ideas, or to move forward with your innovation progress ' is as easy as clicking this button and telling us what you are looking for (and what you have). Many hands make light work. Innovate? Collaborate!
    a.toggle_comments(href="#", rel="b3") Discuss About This Feature &raquo;

.spot_wrap#collaborate_b4
  .spot
    h2 Seekers  
    p You have a great idea, and want to find like-minded people to work on it with you! Or you have been working on an Innovative Idea, but have come into a roadblock, and need help in terms of ideas, or in terms of skill. Or you have a mission that need a team of elites with various specialisations. Time to call for reinforcements. Let's get the word out.
    a.toggle_comments(href="#", rel="b4") Discuss About This Feature &raquo;

.spot_wrap#collaborate_b5
  .spot
    h2 Solvers  
    p You have the skills, and you know it. What you might not have is the challenge to face, the problem to solve, the cause to run for.  Here's where you can share your expertise and tell the world that you are available to help them out &ndash; whether for an exchange, or pro bono.
    a.toggle_comments(href="#", rel="b5") Discuss About This Feature &raquo;

.spot_wrap#collaborate_b6
  .spot
    h2 Investors  
    p You might represent a corporation that is on the look out for talents. You might be someone with a need, and also the means that can fund the solution. Or you might want to invest in a social cause or an interesting and prospective innovative solution. Get yourselves listed as Idea Investors!
    a.toggle_comments(href="#", rel="b6") Discuss About This Feature &raquo;