img(src="images/page_discuss.png", width="960", height="1091", alt="Wireframe for OpenNova's Discuss page")

.spot_wrap#discuss_c1
  .spot
    h2 Discuss 
    p  Saw something you want others to know about? Think an idea out on the market is worthy of discourse? Maybe you want to know a bit more about something? Here's where you post up your suggestions, tips, questions, ideas, and discussion topics.
    a.toggle_comments(href="#", rel="c1") Discuss About This Feature &raquo;

.spot_wrap#discuss_c2
  .spot
    h2 Personal space   
    p  Keep track of certain discussion topics, or take some discussions &ldquo;off the wire&rdquo; by sending and receiving Private Messages (PMs).
    a.toggle_comments(href="#", rel="c2") Discuss About This Feature &raquo;

.spot_wrap#discuss_c3
  .spot
    h2 Tags  
    p  Discussions can be &ldquo;tagged&rdquo; so that they can be categorized and searched easily. Click on these tag buttons, and watch them arrange themselves to suit how you wish them to appear! Want to see only &ldquo;Green&rdquo; technology related discussions? Or only suggestions and tips? Click those buttons!
    a.toggle_comments(href="#", rel="c3") Discuss About This Feature &raquo;

.spot_wrap#discuss_c4
  .spot
    h2 Favourites and Relateds
    p  Immediately zoom in to the topics and subforums that you frequent the most, or check out the other boards that might be of interest to you &ndash; recommended by us, based on your activities on Nova.
    a.toggle_comments(href="#", rel="c4") Discuss About This Feature &raquo;

.spot_wrap#discuss_c5
  .spot
    h2 Topics, ratings and comments
    p  Read up on interesting innovations around the world. Maybe someone wants to discuss an issue. Maybe someone has a question. Read it all up &ndash; and show your reaction to the topic by commenting, or by just ranking it up (or down). 
    a.toggle_comments(href="#", rel="c5") Discuss About This Feature &raquo;