img(src="images/page_ideas.png", width="960", height="670", alt="Wireframe for OpenNova's Ideas page")

.spot_wrap#idea_a1
  .spot
    h2 The Ideas Vault  
    p Here’s where you can post up ideas or your Innovation Work-in-Progress; so that others can either help you out, give suggestions and constructive comments, or even support and cheer you on as you show your progress.
    a.toggle_comments(href="#", rel="a1") Discuss About This Feature &raquo;
    
.spot_wrap#idea_a2
  .spot
    h2 Idea Tags   
    p All idea submissions can be “tagged” so that they can be categorized and searched easily. Click on these tag buttons, and watch them arrange themselves to suit how you wish them to appear! Want to see only Video submissions? Or Ideas that are Green? Click those buttons!
    a.toggle_comments(href="#", rel="a2") Discuss About This Feature &raquo;
    
.spot_wrap#idea_a3
  .spot
    h2 Submit Anything  
    p Ideas can be submitted at any form &ndash; text, photo, video, audio &ndash;  and at any stage (seed of an idea, rambling, prototype stage or even a Work In Progress). Remember: you’re posting these ideas so that you can get others to help you out in your journey.
    a.toggle_comments(href="#", rel="a3") Discuss About This Feature &raquo;
    
.spot_wrap#idea_a4
  .spot
    h2 Tags Recommendation  
    p Based on your choice of tags and they way you want them displayed, we will recommend certain Tags that we think might be of interest to you, or are related. Try them out: you never know that you might find something interesting!
    a.toggle_comments(href="#", rel="a4") Discuss About This Feature &raquo;
    
.spot_wrap#idea_a5
  .spot
    h2 Idea Post   
    p If the idea posted contains media – video, audio, or even slide decks – this is how it will appear. Clicking on the Idea Post will make it expand and show you more details – and play your media too. Clicking it again will bring you the that Idea Post’s page.
    a.toggle_comments(href="#", rel="a5") Discuss About This Feature &raquo;
    
.spot_wrap#idea_a6
  .spot
    h2 Like-bulb &amp; Comments  
    p Click on the Like-bulb (lightbulb) if you like this Idea, and on Comments if you want to comment. The numbers show the amount of “Likes” and “Comments” this Idea has so far. We encourage you to add your two cents’ worth – but do be constructive in your criticism!
    a.toggle_comments(href="#", rel="a6") Discuss About This Feature &raquo;
    
.spot_wrap#idea_a7
  .spot
    h2 Plain Text Idea  
    p You might not have media at all with your Idea. That’s fine, do post them up anyway. And we’d also like your ideas on how Ideas should be posted and displayed.
    a.toggle_comments(href="#", rel="a7") Discuss About This Feature &raquo;