img(src="images/page_wiki.png", width="956", height="655", alt="Wireframe for OpenNova's Wiki page")

.spot_wrap#wiki_e1
  .spot
    h2 The AIM Wiki
    p The AIM Wiki is fashioned after how the amazing Wikipedia works. It will be a rich source of information with regards to anything innovation that can be viewed and edited by anyone. 
    a.toggle_comments(href="#", rel="e1") Discuss About This Feature &raquo;

.spot_wrap#wiki_e2
  .spot
    h2 Edit Wiki
    p This is where you are able to Edit a particular Wiki page you are reading and even check through the History of the past versions of this Wiki page. Of course you will need a Nova account to do all this. 
    a.toggle_comments(href="#", rel="e2") Discuss About This Feature &raquo;

.spot_wrap#wiki_e3
  .spot
    h2 Featured Wiki Post
    p A particular Wiki post would be featured occasionally if the content is compelling enough. 
    a.toggle_comments(href="#", rel="e3") Discuss About This Feature &raquo;

.spot_wrap#wiki_e4
  .spot
    h2 Snapshots
    p Various content snapshots that we feel may be relevant on the landing page. 
    a.toggle_comments(href="#", rel="e4") Discuss About This Feature &raquo;